services:
  - type: web
    name: lab-database
    env: python
    buildCommand: pip install -r requirements-lite.txt
    startCommand: python setup.py && gunicorn --log-level debug simple_app_lite:app
    plan: free
    envVars:
      - key: SECRET_KEY
        value: 14d631b2dd52efb38b3b47eb8a12a3d4
      - key: PYTHON_VERSION
        value: 3.8.12
      - key: DATABASE_PATH
        value: /data/student_register.db
      - key: RENDER
        value: "1"
      - key: RENDER_DEBUG
        value: "1"
      - key: FLASK_DEBUG
        value: "1"
      - key: PYTHONUNBUFFERED
        value: "1"
    disk:
      name: data
      mountPath: /data
      sizeGB: 1
    healthCheckPath: /api/health

databases:
  - name: student-register-db
    databaseName: student_register
    user: student_register_user
    plan: free 